/* This is my generic style sheet */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: blueviolet;
}

#SpecialP {
    color: orangered;
    background-color: black;
    border: 2px solid yellow;
}

.CenterClass {
    text-align: center;
    color: black;
    background-color: rgba(159, 223, 159, 0.75);
}

h1, h2 {
    font-weight: bold;
}

p {
    color: rgb(50,150,200);
    background-color: #c08040;
    border-style: double;
    margin-left: 33%;
    padding: 20px;
    width: 100px;
    box-sizing: border-box;
}